/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

body,
a,
h1,
p {
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}

#hanging-icons {
  margin-top: 30px;
}

/* .circle-sketch-highlight {
  position: relative;
  font-weight: 700;
}
.circle-sketch-highlight:before {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: #ef8c22;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}
.circle-sketch-highlight:after {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: #ef8c22;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
} */

.btn_custome {
  background-color: #0067f4;
  width: 140px;
  height: 40px;
  color: #fff;
  border-radius: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  border: none;
}

.btn_custome:hover {
  background-color: #0055cc;
  width: 140px;
  height: 40px;
  color: #fff;
  border-radius: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  border: none;
}

.btn_custome_outline {
  width: 200px;
  align-items: center;
  height: 40px;
  color: rgb(12, 12, 12);
  border-radius: 0;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  font-weight: 400;
  border: none;
}

.btn_custome_outline:hover bx {
  width: 160px;
  height: 40px;
  color: rgb(12, 12, 12);
  border-radius: 0;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  font-weight: 600;
  border: none;
}

.card-hover:hover {
  box-shadow: 0 2px 5px 3px rgba(235, 233, 233, 30%);
  border-radius: 15px;
  transition: ease-out;
}

.back-img {
  z-index: 1;
  position: relative;
  width: 20%;
  flex-direction: column;
}

.overlay_background::before img {
  width: 100%;
  height: 100vh;
  flex: auto;
  z-index: 1px;
  background-image: url(image/overlay.gif);
  background-color: red;
  background-blend-mode: multiply;
}

.bx-up-arrow-alt {
  width: 20px;
  margin: auto;
  height: 20px;
  margin-top: 13px;
}

.h_icon {
  font-size: medium;
}

.navbar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-brand {
  font-weight: 800;
}

.nav_right {
  justify-content: flex-end;
  align-items: flex-end;
  justify-items: last baseline;
}

.nav-item,
a {
  font-weight: 400;
}

.active {
  font-weight: 600;
}

.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  background-color: #0067f4;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
}
.back-to-top:hover {
  color: #fff;
  background-color: #0067f4;
}

.c-img {
  transition: 0.5s ease-in-out;
}

.c-img:hover {
  overflow: hidden;
  transform: scale(0.9);
  border-radius: 15px;
  transition: 0.5s ease-in-out;
}
